$text-color: #1b1c21;
$gray: #7e7e82;
$light-gray: #EAEAEA;
$white: #FFFFFF;
$blue: #41F6D7;
$pink: #FF3E79;
$TTLakes: 'TT Lakes';


@import './sidenav.scss';
@import './header-menu.scss';
@import './services.scss';
@import './brands.scss';
@import './tech.scss';
@import './prices.scss';
@import './footer.scss';
@import './modals.scss';