$text-color: #1b1c21;
$gray: #7e7e82;
$light-gray: #eaeaea;
$white: #ffffff;
$blue: #41f6d7;
$pink: #ff3e79;
$TTLakes: 'TT Lakes';

@import '../fonts/stylesheet.css';

@import './sidenav.scss';
@import './header-menu.scss';
@import './services.scss';
@import './brands.scss';
@import './tech.scss';
@import './prices.scss';
@import './footer.scss';
@import './modals.scss';

@import '../css/normalize.css';
